@import url(http://fonts.googleapis.com/css?family=Courgette);

body {
	font-family: 'Courgette', cursive;
}

body {
	/* 	background:#f3f3e1; */
	background-image: url('background.jpg');
}

.wrap {
	margin: auto;
	width: 700px;
}

.logo {
	/*border: 1px solid black !important;
	background: linear-gradient(#9A9A9A, #4E4E4E);
	border-radius: 25px;*/
	margin-top: 150px;
	/*border-radius: 25px;*/
}

.logo h1 {
	font-size: 200px;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 1px;
	text-shadow: 1px 1px 6px #fff;
}

.logo p {
	color: #FFFFFF;
	font-size: 20px;
	margin-top: 1px;
	text-align: center;
}

.logo p span {
	color: lightgreen;
}

.sub a {
	color: white;
	background: linear-gradient(#3272B2, #59ACFF);
	text-decoration: none;
	padding: 7px 120px;
	font-size: 13px;
	font-family: arial, serif;
	font-weight: bold;
	-webkit-border-radius: 3em;
	-moz-border-radius: .1em;
	-border-radius: .1em;
}

.sub a:hover {
	background-colour: linear-gradient(#59ACFF, #3272B2);
}