<?xml version="1.0" encoding="UTF-8"?>
<!-- <?xml version="1.0" encoding="ISO-8859-1"?>-->
<!-- <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
	id="WebApp_ID" version="3.1"> -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <display-name>SoftwareTesting</display-name>
  <welcome-file-list>
    <welcome-file>HomePage.jsp</welcome-file>
    <welcome-file>Register.jsp</welcome-file>
    <welcome-file>BetPage.jsp</welcome-file>
    <welcome-file>Login.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>regservlet</servlet-name>
    <servlet-class>Servlets.RegServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>regservlet</servlet-name>
    <url-pattern>/ServletRegistration</url-pattern>
  </servlet-mapping>
</web-app>
<!-- <web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	version="3.0" metadata-complete="true"> <display-name>Welcome to Tomcat</display-name> 
	<description> Welcome to Tomcat </description> </web-app> -->